* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#tile-map {
    display: grid;
    background-color: whitesmoke;
    height: 80vh;
    width: 80vw;
    max-width: 800px;
}

#tile-map div {
    aspect-ratio: 1 / 1;
}